#include "Pods/Target Support Files/Pods-ElementX/Pods-ElementX.debug.xcconfig"
#include "Pods/Target Support Files/Pods-ElementX/Pods-ElementX.release.xcconfig"


// MARK: - MapLibre
MAPLIBRE_API_KEY = your_key

// MARK: - OTLP Tracing

// URLs need special treatment to work properly in xcconfig files
// https://stackoverflow.com/a/36297483/730924
// i.e. make sure to use https:/$()/ in the scheme in the stored secret
OTLP_TRACING_URL = otlp_endpoint

OTLP_TRACING_USERNAME = otlp_username
OTLP_TRACING_PASSWORD = otlp_password

